
<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<script src="{% static 'js/forms.js' %}"></script>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or  message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
        <li
                {% if message.tags %} class="{{ message.tags }}" >
            {{ message }}{% endif %}
        </li>
            {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
{%  block content %}

 {% endblock %}
</body>
</html>